<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>

    <div class="dashboard-container">
        <div class="text-box">
            <h2>Welcome to our Dashboard </h2>
        </div>
        <p>You have successfully logged in!</p>
        <p>Namaskaru! Welcome to the Konkani Karavali community, where we celebrate our rich culture, traditions, and language. Join us in preserving and promoting the Konkani heritage of the coastal region.</p>
        <button onclick="logout()">Logout</button>
    </div>

    <script>
        function logout() {
            alert("Logging out...");
            window.location.href = "login.html"; // Redirect back to login
        }
    </script>

</body>
</html>
